<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Autoplay 2018</title>
    <link rel="SHORTCUT ICON" href="img/main.ico"/>
	<link rel="stylesheet/less" type="text/css" href="theme.less" />
    <link rel="stylesheet/less" type="text/css" href="cont.less" />
    <script src="lib/less.min.js"></script>
    <script src="lib/jquery-1.11.3.min.js"></script>
    <script src="lib/d3.v3.min.js"></script>

    <script src="lib/react.development.js"></script>
    <script src="lib/react-dom.development.js"></script>
    <script src="lib/babel.min.js"></script>
    <script src="lib/axios.min.js"></script>
</head>
<body>

<div id="root"></div>
<script type="text/babel" src="main.jsx"></script>

<svg>

  <rect width="500" height="500" x="100" y="100" fill="none" stroke="#63B793">
    <animateTransform dur="20s" attributeName="transform" repeatCount="indefinite" type="rotate" from="0,350,350" to="360,350,350"/> 
  </rect>

  <rect width="800" height="800" x="500" y="300"  fill="none" stroke="#63B793">
    <animateTransform dur="46s" attributeName="transform" repeatCount="indefinite" type="rotate" from="510,900,550" to="150,900,550"/> 
  </rect>

</svg>


<div id="head"></div>
<div id="MenuSelector"></div>
<ul class="menu">
    <li><a href="#home">Home</a></li>
    <li><a href="#foreword">Foreword</a></li>
	<li><a href="#profile">Profile</a></li>
    <li><a href="#works">Works</a></li>
    <li><a href="#copyright">Copyright</a></li>
    <li><a class="AudioBt">Audio</a></li>
</ul>

<h1 id="PageTitle"></h1>

<audio id="audioElement" src="Detroit Swindle - Yes No Maybe (feat. Tom Misch).mp3"></audio>

<script src="music.js" charset="utf-8"></script>
</body>
<script>
$(document).ready(function(){

const song = document.getElementById('audioElement');
      song.play();

    $( ".AudioBt" ).click(function() {
        if(song.paused) song.play();
        else song.pause();
    });

const MenuItH = 43;

//initialization
$("#MenuSelector").css("bottom", $( window ).height()/4+MenuItH*5 );
$("#MenuSelector").show();

$('#root').scroll(function (event) {
    let scroll = $('#root').scrollTop();
    let MenuSelectorStart = $( window ).height()/4;

    let layer = [400,1100,2050,2900];

    if(scroll >= 0 && scroll < layer[0]){

        $("#PageTitle").fadeOut( 200 );
        $("#MenuSelector").css("bottom", MenuSelectorStart+MenuItH*5);
                $( ".menu a" ).css('textShadow','0px 0px #3A595C');
        $( ".menu a:eq( 0 )" ).css('textShadow','1px 2px #3A595C');
    } 
    else if(scroll >= layer[0] && scroll < layer[1]) {
        setUnit('Foreword', MenuSelectorStart+MenuItH*4);
        $( ".menu a" ).css('textShadow','0px 0px #3A595C');
        $( ".menu a:eq( 1 )" ).css('textShadow','1px 2px #3A595C');
    }
    else if(scroll >= layer[1] && scroll < layer[2]) {
        setUnit('Profile', MenuSelectorStart+MenuItH*3);
        $( ".menu a" ).css('textShadow','0px 0px #3A595C');
        $( ".menu a:eq( 2 )" ).css('textShadow','1px 2px #3A595C');
    }
    else if(scroll >= layer[2] && scroll < layer[3]) {
        setUnit('Works', MenuSelectorStart+MenuItH*2);
        $( ".menu a" ).css('textShadow','0px 0px #3A595C');
        $( ".menu a:eq( 3 )" ).css('textShadow','1px 2px #3A595C');
    }
    else if(scroll >= layer[3]) {
        setUnit('Copyright', MenuSelectorStart+MenuItH);
                $( ".menu a" ).css('textShadow','0px 0px #3A595C');
        $( ".menu a:eq( 4 )" ).css('textShadow','1px 2px #3A595C');
    }
    if(scroll >= layer[0]) {
        $("#PageTitle").fadeIn( 1000 );
    }
    //console.log(scroll);
});

function setUnit (title, selectorFix) {

    $('#PageTitle').text(title);
    $("#MenuSelector").css("bottom", selectorFix );
}

});

</script>
</html>