<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Autoplay 2018</title>
    <link rel="SHORTCUT ICON" href="img/main.ico"/>
	<link rel="stylesheet/less" type="text/css" href="theme.less" />
    <link rel="stylesheet/less" type="text/css" href="cont.less" />
    <script src="lib/less.min.js"></script>
    <script src="lib/jquery-1.11.3.min.js"></script>
    <script src="lib/d3.v3.min.js"></script>

    <script src="lib/react.development.js"></script>
    <script src="lib/react-dom.development.js"></script>
    <script src="lib/babel.min.js"></script>
    <script src="lib/axios.min.js"></script>
</head>
<body>

<div id="root"></div>
<script type="text/babel" src="main.jsx"></script>

<div id="head"></div>
<div id="MenuSelector"></div>
<ul class="menu">
    <li><a href="#home">Home</a></li>
    <li><a href="#foreword">Foreword</a></li>
	<li><a href="#profile">Profile</a></li>
    <li><a href="#works">Works</a></li>
    <li><a href="#copyright">Copyright</a></li>
    <li><a class="AudioBt">Audio</a></li>
</ul>

<h1 id="PageTitle"></h1>

<audio id="audioElement" src="平茸 - Prismatic.mp3"></audio>

<script src="music.js" charset="utf-8"></script>
</body>
<script>
$(document).ready(function(){

const song = document.getElementById('audioElement');
      song.play();

    $( ".AudioBt" ).click(function() {
        if(song.paused) song.play();
        else song.pause();
    });

//initialization
$("#MenuSelector").css("bottom", $( window ).height()/4+200 );
$("#MenuSelector").show();

$('#root').scroll(function (event) {
    let scroll = $('#root').scrollTop();
    let MenuSelectorStart = $( window ).height()/4;

    let layer = [400,1100,2050,2900];

    if(scroll >= 0 && scroll < layer[0]){

        $("#PageTitle").fadeOut( 200 );
        $("#MenuSelector").css("bottom", MenuSelectorStart+200 );
    } 
    else if(scroll >= layer[0] && scroll < layer[1]) {
        setUnit('Foreword', MenuSelectorStart+160);
    }
    else if(scroll >= layer[1] && scroll < layer[2]) {
        setUnit('Profile', MenuSelectorStart+120);
    }
    else if(scroll >= layer[2] && scroll < layer[3]) {
        setUnit('Works', MenuSelectorStart+80);
    }
    else if(scroll >= layer[3]) {
        setUnit('Copyright', MenuSelectorStart+40);
    }
    if(scroll >= layer[0]) {
        $("#PageTitle").fadeIn( 1000 );
    }
    //console.log(scroll);
});

function setUnit (title, selectorFix) {

    $('#PageTitle').text(title);
    $("#MenuSelector").css("bottom", selectorFix );
}

});

</script>
</html>