<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Autoplay 2018</title>
    <link rel="SHORTCUT ICON" href="img/main.ico"/>
	<link rel="stylesheet/less" type="text/css" href="theme.less" />
    <link rel="stylesheet/less" type="text/css" href="cont.less" />
    <script src="lib/less.min.js"></script>
    <script src="lib/jquery-3.3.1.min.js"></script>
    <script src="lib/d3.v3.min.js"></script>

    <script src="lib/react.development.js"></script>
    <script src="lib/react-dom.development.js"></script>
    <script src="lib/babel.min.js"></script>
    <script src="lib/axios.min.js"></script>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
</head>
<body>

<div id="root"></div>
<script type="text/babel" src="main.jsx"></script>

<svg id="background">
  <rect width="500" height="500" x="100" y="100" fill="none" stroke="#63B793">
    <animateTransform dur="20s" attributeName="transform" repeatCount="indefinite" type="rotate" from="0,350,350" to="360,350,350"/> 
  </rect>
  <rect width="800" height="800" x="500" y="300"  fill="none" stroke="#63B793">
    <animateTransform dur="46s" attributeName="transform" repeatCount="indefinite" type="rotate" from="510,900,550" to="150,900,550"/> 
  </rect>
</svg>


<div id="head"></div>
<div id="MenuSelector"></div>
<ul id="menu">
    <li><a href="#" layer="0">Home</a></li>
    <li><a href="#" layer="1">Foreword</a></li>
    <li><a href="#" layer="2">Profile</a></li>
    <li><a href="#" layer="3">Works</a></li>
    <li><a href="#" layer="4">Copyright</a></li>
</ul> 



<h1 id="PageTitle"></h1>

<audio id="audioElement" src="Detroit Swindle - Yes No Maybe (feat. Tom Misch).mp3"></audio>

<script src="music.js" charset="utf-8"></script>
</body>
<script>
$(document).ready(function(){

const song = document.getElementById('audioElement');
      song.play();

    $( "#MusicBar" ).click(function() {
        if(song.paused) song.play();
        else song.pause();

    });


const layerED = 4;
const MenuItH = 43;
const MenuItR = 2.2; //2.2

//initialization
let vh
let layerDeep = []; const fix = [0.072, 0.08, 0.278, 0.539, 0.8]; //RWD 
let layerNow = -1;
let layerIndex;
setOption('', layerED);


    $( "#menu a" ).click(function() {

        vh = document.getElementById("root").scrollHeight;;
        layerDeep = [-(vh*fix[0]), vh*fix[1], vh*fix[2], vh*fix[3], vh*fix[4]]; 
        let layer = $(this).attr("layer");
        $("#root").stop().animate({scrollTop: layerDeep[layer]+(vh*fix[0])}, 600, 'linear');

    });


$("#root").scroll(function (event) {

    let scroll = $("#root").scrollTop();
    
    vh = document.getElementById("root").scrollHeight;;
    layerDeep = [-(vh*fix[0]), vh*fix[1], vh*fix[2], vh*fix[3], vh*fix[4]]; 

    if(scroll >= layerDeep[1]) {
        $("#PageTitle").fadeIn( 600 );
    }
    if(scroll < layerDeep[1]){
        layerIndex = 0;
        //Layer change!
        if(layerNow!=layerIndex){ 
            layerNow = layerIndex;
            setOption('Foreword', layerED-layerNow);
            $("#PageTitle").fadeOut( 200 );
        }
    } 
    else if(scroll >= layerDeep[1] && scroll < layerDeep[2]) {
        layerIndex = 1;
        if(layerNow!=layerIndex){ 
            layerNow = layerIndex;
            setOption('Foreword', layerED-layerIndex);
        }
    }
    else if(scroll >= layerDeep[2] && scroll < layerDeep[3]) {
        layerIndex = 2;
        if(layerNow!=layerIndex){ 
            layerNow = layerIndex;
            setOption('Profile', layerED-layerIndex);
        }
    }
    else if(scroll >= layerDeep[3] && scroll < layerDeep[4]) {
        layerIndex = 3;
        if(layerNow!=layerIndex){ 
            layerNow = layerIndex;
            setOption('Works', layerED-layerIndex);
        }
    }
    else if(scroll >= layerDeep[4]) {
        layerIndex = 4;
        if(layerNow!=layerIndex){ 
            layerNow = layerIndex;
            setOption('Copyright', layerED-layerIndex);
        }
    }

    //console.log(scroll);
});

function setOption (title, i) {



    $('#PageTitle').text(title);

    $( "#menu a" ).css('textShadow','0px 0px #3A595C');
    $( "#menu a:eq( "+(4-i)+" )" ).css('textShadow','2px 2px #3A595C');

    $("#MenuSelector").css({
       'top' : 375-(MenuItH*i),
       'right' : -23+(MenuItR*i)
    });
}


});

</script>
</html>