
@ParagraphBlank: 30vh;

@theme-color: #A9D3D1;
@theme-colorDeep: #5C9C9C;
@theme-light-color: #B4D6D7;
@theme-music-color: #7BBEA1;
@theme-shadow-color: #3A595C;
@theme-svg-color: #63B793;

/* pc */
@media screen and (min-width: 901px) {
    .BigTitle{
        font-size: 10em;
    }
    #profile{
        font-size: 1.5em;
        td{
            padding-right: 60px; 
        }
    }
    #works{
        grid-row-gap: 6vh;
        grid-column-gap: 2vw;
        grid-template-columns: repeat(3, auto); 
        .imgBox{
            width: 21vw;
            .works-cover{
                 margin-top: 180px;
            }
        }
    }
}
/* pad */
@media screen and (min-width: 381px) and (max-width: 900px) {
    .BigTitle{
        font-size: 4em;
    }
    #profile{
        font-size: 1.5em;
        td{
            padding-right: 60px; 
        }
    }
    #works{

        grid-row-gap: 4vh;
        grid-column-gap: 5vw;
        grid-template-columns: repeat(2, auto); 
        .imgBox{
            width: 44vw;
            height: 180px;
            .works-cover{
                margin-top: 140px;
            }
        }
    }
}
/* phone */
@media screen and (min-width: 0px) and (max-width: 380px) {

    #profile{
        font-size: 1.2em;
        td{
            padding-right: 10px; 
       }
    }
    #works{

        grid-row-gap: 6vh;
        grid-template-columns: repeat(1, auto); 
        .imgBox{
            width: 84vw;
            height: 180px;
                .works-cover{
                    margin-top: 140px;
                }
        }
    }
}


#foreword, #profile, #works, #copyright{
    margin-bottom: @ParagraphBlank;
    margin-left: 3vw; 
}

.BigTitle{
    padding-top: 30vh;
}
.SubTitle{
    font-size: 1.5em;
    margin-bottom: @ParagraphBlank;
}
.BigTitle, .SubTitle{
    margin-left: 3vw; 
    text-shadow: 2px 2px 5px @theme-shadow-color;
}

.UnitName{
    text-shadow: 2px 2px 5px @theme-shadow-color;
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-left: 3vw; 
}

#foreword{
    padding-top: 1.5vh;
    text-shadow: 2px 2px 5px @theme-shadow-color;
}


#story{

    display: none;
    grid-column-gap: 3vw;
    grid-template-columns: repeat(3, auto); 

    .story-box{
        margin-top: 10vh;
        height: 20vh;

        display: flex;
        justify-content: center;
        align-items: center; 
        border: 2px solid white;
        text-shadow: 2px 2px 5px @theme-shadow-color;
         box-shadow: 2px 2px 5px @theme-shadow-color;

        i{
            font-size: 10vh;
        }
        span{
            display: inline-block;
            margin-left: 20px;
        }

  }
}

#profile{
    text-shadow: 2px 2px 5px @theme-shadow-color;
   
    td{
        vertical-align: top;
        text-align: left;
    }
}

#works{
    padding-top: 2.5vh;
    display: grid;

    div{
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    .imgBox{
        position: relative;
        height: 180px;
        
        border: 2px solid white;
        box-shadow: 2px 2px 5px @theme-shadow-color;

        font-size: 0; /* Mysterious gap */
        overflow: hidden; 
        align-items: initial; 

        img{
            transition: all 0.4s;
            opacity: 0.5;
            height: 100%;
        }
        .works-cover{

            position: absolute;
            z-index: 3;
            height: 40px;
            width: 100%;

            font-size: 16px;
            font-weight: bold;
            background-color: white;
            color: @theme-colorDeep;

            transition: all 0.2s;
        }
    }
    .imgBox:hover > img { opacity: 1; }
    .imgBox:hover > .works-cover { margin-top: 140px; }
         
    p{
        font-size: 0.9em;
        color: #E2E2E2;
        margin-bottom: 20px;
        width: 50vw;
        display: none;
    }
}

#copyright{
    text-shadow: 2px 2px 5px @theme-shadow-color;
    span{
        display: block;
    }
}
.LsatSpace{
    padding-bottom: 10vh;
}

