
.BigTitle{

    font-size: 10em;

    padding-top: 25vh;
    margin-left: 5vw;
    cursor: default;
}
.SubTitle{
    font-size: 1.5em;
    margin-left: 5vw;
    margin-bottom: 60vh;
    cursor: default;
}

.profile_box, .projects_box, #foreword{

    margin-top: 2vh; 
    margin-left: 5vw; 
    margin-bottom: 10vh; 
}

.profile_box{

    font-size: 1.5em;
  margin-bottom: 40vh;


    td{
          vertical-align: top;
          text-align: left;
          padding-right: 20px; 
    }

}

#copyright{
        margin-left: 5vw;
      margin-bottom: 40vh;
}
#foreword{
width: 80%;
p{
    margin-bottom: 5vh;
}
  margin-bottom: 40vh;
}
.projects_box{
    padding-bottom: 30vh;
      span{
 font-size: 2em;

        } 
        p{
             font-size: 0.9em;
             color: #E2E2E2;
             margin-bottom: 20px; 
                 cursor: default;
        }
     a{
            color: #FFFFFF;
            text-decoration: underline;
        }
        a:hover{
            color: #CACACA;
            cursor: pointer;
        }
}