*{
    margin: 0;
    font-family: Microsoft JhengHei;
}

@theme-color: #A9D3D1;
@theme-colorDeep: #5C9C9C;
@theme-light-color: #B4D6D7;
@theme-music-color: #7BBEA1;
@theme-shadow-color: #3A595C;
@theme-svg-color: #63B793;

body{
    height: 100vh;
    background-color: @theme-colorDeep;
    color: white;

    h1, p, td{
        cursor: default;
    }
    a{
    	color: white;
    	cursor: pointer;
    }
    a:hover{
        cursor: pointer;
    }
}

/* pc */
@media screen and (min-width: 901px) {
    #root{
        width: 75vw;
        padding-right: 30vw;
    }
    #PageTitle{
        z-index: 2;
        font-size: 8em;
        bottom: 10vh;
        right: 20vw;
    }
    #head, #menu, #MenuSelector, #PageTitle, #MusicBar{
        transform: rotate(-3deg);
    }
}
/* pad */
@media screen and (min-width: 381px) and (max-width: 900px) {
    #root{
        width: 97vw;
        padding-right: 10vw;
    }
    #PageTitle{
        z-index: 2;
        font-size: 3em;
        bottom: 10vh;
        right: 3vw;
    }
    #menu, #MenuSelector, #head{ display: none; }
    #PageTitle, #MusicBar{
        transform: rotate(-3deg);
    }
}
/* phone */
@media screen and (min-width: 0px) and (max-width: 380px) {
    #root{
        width: 103vw;
        padding-right: 10vw;
    }
    #PageTitle{
        z-index: 5;
        font-size: 1em;
        background-color: @theme-color;
        padding: 5px;
        right:0;
    }
    #MusicBar, #menu, #MenuSelector, #head{ display: none; }
}


#background{
    z-index: -1;
    position: fixed;
    height:100%;
    width:100%;
}
#root{
    z-index: 3;
    position: fixed;
    height: 100vh;
    overflow-y: scroll;
}

/* Always use top right positioning
   Fixed pixels prevent menu distortion */

#head{
    position: fixed;
    top: -65px;
    right: -65px;
    height: 1600px;  /* RWD supports maximum screen height */
    width: 250px;
    border: 4px solid white;
    background-color: @theme-color;
}
#MenuSelector{
    position: fixed;
    height: 40px;
    width: 230px;
    background-color: @theme-colorDeep;
    transition: all 0.6s;
}
#menu{
    z-index: 5;
    position: fixed;
    width: 180px;
    padding: 0;
	top: 200px;
    right: 0;
    list-style: none;
    li{
    	padding: 5px;
        a{
        	font-size: 1.5em;
            text-decoration: none;
            transition: all 0.4s;
        }
    }
    li:hover > a { margin-left: 5px; }
}


#PageTitle{

    position: fixed;
    max-width: 70vw;
    display: none;
    text-shadow: 0px 0px 10px @theme-light-color;
}
#MusicBar{
    z-index: 3;
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 80px;
    left: 0;
    bottom: 0;
}


