@font-face {
  font-family: Regular;
  src: url(font/AbhayaLibre-SemiBold.ttf);
}

@title-color: #4CB6C8;
@menu-size: 15px;

.main-font-family{
    font-family: Regular, serif;
}
.the-line{
    border: 0px;
    border-bottom: 1px solid #CDCDCD;
}
.main-specification{
    width: 550px;
    margin-left: 24%;
}

//   ex-class =======================================

body{
  padding: 0;
  margin: 0;
}
.page-body{

  margin-bottom: 40px; 
}
.menu_box{
  position: fixed;
  padding: 0 @menu-size;
  margin-top: 10%; 
  background-color: #474747;
}
.menu{

margin-top: 0;
margin-bottom: 0;
padding: 0;
/*與li margin-bottom配合*/
padding-top: @menu-size;

    li{
    list-style-type: none;
    margin-bottom: @menu-size; 
        a{
        text-decoration: none;
        color: #FFFFFF;
        }
        a:hover{
        border-bottom: 1px solid #FFFFFF;
        }
    }
}


.title{
    .main-specification;
    .main-font-family;
    color: @title-color;
}

.profile_box{
.main-specification;

border-collapse: collapse;

    td{

  	.main-font-family;
    .the-line;

  	margin: 0px;
  	padding: 7px;
    vertical-align: top;
    text-align: left;


    }
}

.projects_box{
.main-specification;

  div{
    
    .main-font-family;
    .the-line;

    margin-bottom: 20px; 
  }
  a{
    text-decoration: none;
    color: #0366D6;
    font-weight: bold; 
    font-size: 1.1em;
  }
  a:hover{
    text-decoration: underline;
  }
  p{
    font-size: 0.9em;
    margin: 10px 0;
  }
}


